# HW4

### due on 2/12/2018 at 11:59 pm

<b>Instructions:</b> Write your answers in the empty code cells below.

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code would not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
<li>You answer is composed of more than one output, unless explicitly permitted
</ul>

Start by downloading the file <i>cleaned_survey.csv</i> in the same folder as this .ipynb file. The file contains the results from the student survey.

Then, execute the code below to load the data in a  dataframe <i>df</i>.

In [52]:
import pandas as pd
df = pd.read_csv("cleaned_survey.csv", index_col=0)

In [53]:
df.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,...,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,...,0,1.0,4,4,0,1,0,0,6.0,1
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,...,0,0.0,2,2,0,0,0,1,4.0,1
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,...,0,1.0,3,3,0,0,1,0,3.0,1
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,...,0,1.0,2,3,0,0,0,1,5.0,1
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,...,0,0.0,1,1,0,0,1,0,4.0,1

### Data Set description

The data set contains one row for every person who filled the survey. We use <b>person</b> and <b>student</b> interchangeably.

<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
<li><b>Bach_0to1</b>: 1 if time elapsed from graduation is less than a year; 0 otherwise
<li><b>Bach_1to3</b>: 1 if time elapsed from graduation is between one and three years; 0 otherwise
<li><b>Bach_3to5</b>: 1 if time elapsed from graduation is between three and five years; 0 otherwise
<li><b>Bach_5Plus</b>: 1 if time elapsed from graduation is more than five years; 0 otherwise
</ul>

### Question 1

<p>For each programming skill level, compute:</p>
<ol>
<li><b>PropPythonOrJava</b>:the proportion (0 to 1, computed relatively to the group size) of people that know at least one between Python and Java. 
<li><b>StdevClass</b>:the standard deviation of the Classification knowledge (function <i>std</i>)
</ol>
<p>You should return one data frame with one row for each programming skill level and two columns named <b>PropPythonOrJava</b> and <b>StdevClass</b>. Don't worry about having a Hierarchical Index for the columns.</p>

In [54]:
df['PropPythonOrJava']=(df.Python == 1) | (df.Java== 1)

In [56]:
df['PropPythonOrJava'].head(5)

0    True
1    True
2    True
3    True
4    True
Name: PropPythonOrJava, dtype: bool

In [11]:
df.groupby('ProgSkills').agg({'PropPythonOrJava' : 'mean', 
                      'Classification' : 'std'}).rename(columns={'Classification' : 'StdevClass'})

            PropPythonOrJava  StdevClass
ProgSkills
1                   0.000000    0.377964
2                   0.727273    0.750757
3                   0.965517    1.032716
4                   1.000000    1.083625
5                   1.000000    0.707107

### Question 2

For each program, how many people have a Clustering knowledge of at least 3? Report one row for each existing program.

In [49]:
df[df.Clustering>=3].groupby('Program').size()# does not show every column

Program
Business Man    1
Faculty!        1
MBA             4
MSIS            8
dtype: int64

In [58]:
df['CK']= (df.Clustering>=3)
df['CK'].head(5)

0     True
1    False
2     True
3     True
4    False
Name: CK, dtype: bool

In [51]:

df.groupby('Program')['CK'].sum()# does show columns with zero values as well

Program
Business Man                     1.0
Faculty!                         1.0
MBA                              4.0
MSIS                             8.0
Master of Finance                0.0
Supply Chain Mgmt & Analytics    0.0
Name: CK, dtype: float64

### Question 3

For each level of Classification, return the rows of those people who, within their group, have the smallest value in the column <i>Job</i>.

In [37]:
df.groupby('Classification').apply(lambda d : d[d.Job == d.Job.min()])

                   Job                        Program  ProgSkills  C  CPP  \
Classification
1              4   0.0                           MSIS           3  1    0
               19  0.0                           MSIS           5  1    0
               21  0.0                           MSIS           2  0    0
               22  0.0                            MBA           1  0    0
               29  0.0                           MSIS           3  1    1
               34  0.0                           MSIS           4  1    1
               35  0.0              Master of Finance           4  1    1
               37  0.0                           MSIS           1  0    0
               38  0.0                            MBA           1  0    0
               43  0.0                           MSIS           3  1    1
               44  0.0                           MSIS           3  0    1
               54  0.0                           MSIS           2  0    0
               57  0.0                           MSIS           4  1    0
               59  0.0                           MSIS           3  0    0
2              3   0.0                           MSIS           3  1    0
               6   0.0                           MSIS           3  1    1
               7   0.0                           MSIS           2  1    0
               24  0.0                            MBA           2  1    1
               25  0.0                           MSIS           3  1    1
               26  0.0                           MSIS           2  0    0
               41  0.0                           MSIS           2  0    0
               42  0.0                           MSIS           4  0    0
               46  0.0                           MSIS           4  1    1
               47  0.0                           MSIS           4  1    1
               52  0.0                           MSIS           4  1    1
3              2   0.0                           MSIS           3  0    0
               13  0.0  Supply Chain Mgmt & Analytics           2  1    1
               33  0.0                           MSIS           3  1    0
               39  0.0                           MSIS           3  1    0
               51  0.0                           MSIS           3  1    0
4              0   0.0                           MSIS           4  1    1
               32  0.0                            MBA           3  0    0
5              16  1.0                       Faculty!           3  1    0

                    CS  Java  Python   JS    R        ...         Regression  \
Classification                                        ...
1              4   0.0     1     1.0  0.0  0.0        ...                0.0
               19  0.0     1     1.0  0.0  0.0        ...                0.0
               21  1.0     1     1.0  1.0  0.0        ...                0.0
               22  0.0     0     0.0  0.0  1.0        ...                1.0
               29  0.0     1     0.0  0.0  0.0        ...                0.0
               34  0.0     1     1.0  1.0  0.0        ...                0.0
               35  0.0     0     1.0  1.0  0.0        ...                1.0
               37  0.0     0     0.0  0.0  0.0        ...                0.0
               38  0.0     0     0.0  0.0  1.0        ...                1.0
               43  0.0     1     0.0  1.0  0.0        ...                0.0
               44  0.0     1     1.0  1.0  0.0        ...                1.0
               54  0.0     1     1.0  1.0  1.0        ...                1.0
               57  0.0     1     0.0  0.0  0.0        ...                0.0
               59  0.0     1     1.0  0.0  0.0        ...                0.0
2              3   0.0     1     1.0  0.0  1.0        ...                1.0
               6   0.0     1     0.0  0.0  0.0        ...                0.0
               7   0.0     1     0.0  0.0  0.0        ...                0.0
               24  0.0     0     0.0  0.0  0.0        ...                1.0
               25  1.0     1     NaN  1.0  0.0        ...                0.0
               26  0.0     1     0.0  0.0  0.0        ...                0.0
               41  0.0     1     0.0  1.0  0.0        ...                0.0
               42  0.0     1     1.0  1.0  0.0        ...                0.0
               46  1.0     1     1.0  1.0  0.0        ...                1.0
               47  0.0     1     0.0  1.0  0.0        ...                0.0
               52  0.0     1     0.0  1.0  0.0        ...                0.0
3              2   0.0     1     1.0  0.0  0.0        ...                1.0
               13  0.0     0     0.0  0.0  0.0        ...                1.0
               33  0.0     1     0.0  0.0  0.0        ...                0.0
               39  0.0     1     0.0  0.0  0.0        ...                0.0
               51  0.0     1     0.0  0.0  0.0        ...                0.0
4              0   0.0     1     1.0  1.0  0.0        ...                1.0
               32  0.0     0     1.0  0.0  1.0        ...                1.0
5              16  0.0     0     0.0  0.0  0.0        ...                1.0

                   Classification  Clustering  Bach_0to1  Bach_1to3  \
Classification
1              4                1           1          0          0
               19               1           1          0          0
               21               1           1          0          0
               22               1           2          0          0
               29               1           1          0          1
               34               1           2          0          0
               35               1           1          0          0
               37               1           1          0          1
               38               1           1          0          0
               43               1           1          0          1
               44               1           1          0          0
               54               1           1          0          0
               57               1           1          0          0
               59               1           2          0          0
2              3                2           3          0          0
               6                2           2          0          1
               7                2           2          1          0
               24               2           2          0          0
               25               2           1          0          0
               26               2           3          0          0
               41               2           1          0          0
               42               2           1          0          1
               46               2           2          0          1
               47               2           2          0          1
               52               2           2          0          0
3              2                3           3          0          0
               13               3           1          1          0
               33               3           3          0          0
               39               3           3          0          0
               51               3           3          0          0
4              0                4           4          0          1
               32               4           4          0          0
5              16               5           5          0          0

                   Bach_3to5  Bach_5Plus  Languages  Expert  PropPythonOrJava
Classification
1              4           1           0        4.0       1              True
               19          1           0        4.0       1              True
               21          0           1        5.0       1              True
               22          1           0        1.0       0             False
               29          0           0        3.0       1              True
               34          0           1        6.0       1              True
               35          0           1        5.0       1              True
               37          0           0        1.0       0             False
               38          0           1        3.0       1             False
               43          0           0        5.0       1              True
               44          0           1        5.0       1              True
               54          1           0        5.0       1              True
               57          0           1        3.0       1              True
               59          1           0        3.0       1              True
2              3           0           1        5.0       1              True
               6           0           0        4.0       1              True
               7           0           0        3.0       1              True
               24          1           0        2.0       0             False
               25          0           1        6.0       1              True
               26          1           0        1.0       0              True
               41          1           0        3.0       1              True
               42          0           0        4.0       1              True
               46          0           0        7.0       1              True
               47          0           0        5.0       1              True
               52          1           0        5.0       1              True
3              2           1           0        3.0       1              True
               13          0           0        3.0       1             False
               33          1           0        3.0       1              True
               39          1           0        3.0       1              True
               51          1           0        3.0       1              True
4              0           0           0        6.0       1              True
               32          0           1        3.0       1              True
5              16          0           1        3.0       1             False

[33 rows x 24 columns]