# Data Cleaning Assignment

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("cleaned_survey.csv", index_col=0)
df.drop(['ProgSkills','Languages','Expert'],axis=1,inplace=True)

### Data Set description
The data set contains one row for every person who filled the survey. We use <b>person</b> and <b>student</b> interchangeably.
<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
<li><b>Bach_0to1</b>: 1 if time elapsed from graduation is less than a year; 0 otherwise
<li><b>Bach_1to3</b>: 1 if time elapsed from graduation is between one and three years; 0 otherwise
<li><b>Bach_3to5</b>: 1 if time elapsed from graduation is between three and five years; 0 otherwise
<li><b>Bach_5Plus</b>: 1 if time elapsed from graduation is more than five years; 0 otherwise
</ul>

In [7]:
df.head()

,Job,Program,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus
0,0.0,MSIS,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0
1,0.5,MSIS,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1
2,0.0,MSIS,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0
3,0.0,MSIS,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1
4,0.0,MSIS,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0

### Question 1

How many people filled the survey?

In [8]:
len(df)

61

### Question 2

Among those who know SQL, what's the proportion (0 to 1) of people that know also Java?

In [9]:
df.SQL.sum() #checking sum

51.0

In [14]:
df.loc[df.SQL == 1.0,'Java'].mean()

0.8235294117647058

### Question 3

What's the average knowledge in "classification" of those MBA students that do NOT know SQL?

In [80]:
df.loc[(df.Program == 'MBA') & (df.SQL == 0.0),'Classification'].mean()

1.3333333333333333

### Question 4

In this data set, what's the proportion of people that know C but not know Java? (The answer should be a number in the range of 0 to 1).
_For example, if there are 100 people in total, and 13 of them know C better than Java, then the answer is 0.13._

In [72]:
((df.C==1) & (df.Java==0)).head(5)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [74]:
((df.C==1) & (df.Java==0)).mean()

0.081967213114754092

### Question 5

Let's create a new column "data_science_experience_score"!

This score will  be the person's largest score among: Regression, Classification and Clustering. _For example, if a person has the score 1,3,4  on Regression, Classification and Clustering respectively, then his/her data science experience score will be 4._

Compute the average data science experience score for all MSIS students.
(Your output should be just one number.)

In [82]:
df['data_science_experience_score']=df.loc[df.Program == 'MSIS',['Regression' ,'Classification','Clustering']].max(axis=1)

In [83]:
df['data_science_experience_score'].mean()

1.875

### Question 5

Your job is to find the "most knowledgeable" person!

The "most knowledgeable" person is the one who already got their BS degree for more than one year and has the highest score on Classification. If there are more than one person has the highest scores on Classification, consider whether they know C, then CPP, then CS, then Java, then Tableau.

The answer should be just one person. Pls list that person's Program.

In [85]:
df.loc[df.Bach_0to1== 0].sort_values(by = ['Classification','C','CPP','Tableau']).tail(1).loc[:,'Program']

16    Faculty!
Name: Program, dtype: object